button#drawer-button.drawer-button(data-action="open-drawer"): i.fa.fa-bars
nav.drawer(tabindex="-1")
    .drawer-container
        //- .drawer-search(role="search")
        ul.drawer-list(role="navigation")
            li.drawer-list-item: a(href="/")
                i.fa.fa-home
                | Home
            li.drawer-list-item: a(href="#{url}/rss")
                i.fa.fa-rss
                | Subscribe to Feed

            li.drawer-list-divider
            
            //- Follow me section
            if custom.twitter
                li.drawer-list-item.drawer-list-title Follow me
                li.drawer-list-item: a(href=custom.twitter, target="_blank")
                    i.fa.fa-twitter
                    | Twitter

            if custom.github
                li.drawer-list-item: a(href=custom.github, target="_blank")
                    i.fa.fa-github
                    | Github

            if custom.stackoverflow
                li.drawer-list-item: a(href=custom.stackoverflow, target="_blank")
                    i.fa.fa-stack-overflow
                    | Stack Overflow

            if custom.googleplus
                li.drawer-list-item: a(href=custom.googleplus, target="_blank")
                    i.fa.fa-google-plus
                    | Google+

            if custom.youtube
                li.drawer-list-item: a(href=custom.youtube, target="_blank")
                    i.fa.fa-youtube-square
                    | YouTube

            //- Archives
            if archives && archives.length
                li.drawer-list-divider
                li.drawer-list-item.drawer-list-title Archive
                each archive in archives
                    li.drawer-list-item: a(href=$date(archive.date, '/YYYY/MM'))
                        i.fa.fa-archive
                        = $date(archive.date, 'MMMM YYYY')

.drawer-overlay