mixin post(post)
    article.post-item(itemscope, itemtype="http://schema.org/BlogPosting", role="article", class=$postClass(post))

        header.post-item-header
            h2.post-item-title(itemprop="name"): a(href=$url(post), itemprop="url", data-pjax, title=post.title)= post.title

        section.post-item-excerpt(itemprop="description")
            p !{post.teaser} &hellip;

        footer.post-item-footer
            ul.post-item-meta-list

                //- Publication date & author
                li.post-item-meta-item
                    time(datetime=$date(post), itemprop="datePublished")= $date(post, 'timeago')
                    |  by  
                    span(itemprop="author", itemscope, itemtype="http://schema.org/Person")
                        if post.author.website
                            meta(content=post.author.website, itemprop="url")
                            a(href=post.author.website, rel="author", itemprop="name")= post.author.name
                        else
                            span(itemprop="name")= post.author.name
                
                //- Keywords
                if post.labels && post.labels.length
                    li.post-item-meta-item
                        each label, idx in post.labels
                            span(itemprop='keywords'): a(href=$labelUrl(label), data-pjax)= label
                            | #{(idx === post.labels.length - 1) ? null : ', '}
                
                //- Number of comments
                li.post-item-meta-item: a(href="#{$url(post)}#disqus_thread", data-pjax, data-disqus-identifier="{{id}}")

extends layout

block content
    aside.cover(role="banner")
        .cover-image(data-load-image=cover ? cover : undefined)
        .cover-container
            if logo
                a.cover-logo(href=url, data-pjax): img(src=logo, alt="Blog Logo")
            h1.cover-title!= title
            p.cover-description!= description

    section.wrapper(tabindex="0")
        .wrapper-container
            include featured

            if label
                p.text-center: small
                    | Showing posts with label 
                    strong #{label}. 
                    a(href=url, data-pjax) Show all posts
                hr
            if day
                p.text-center: small
                    | Showing posts from 
                    strong #{date.format('Do MMMM, YYYY')}. 
                    a(href=url, data-pjax) Show all posts
                hr
            else if month
                p.text-center: small
                    | Showing posts from 
                    strong #{date.format('MMMM, YYYY')}. 
                    a(href=url, data-pjax) Show all posts
            else if year
                p.text-center: small
                    | Showing posts from 
                    strong #{year}. 
                    a(href=url, data-pjax) Show all posts

            section.post-list
                each post in posts
                    mixin post(post)

            if pagination && pagination.pages
                nav.post-list-pagination(role="pagination")
                    if pagination.newer
                        a.post-list-pagination-item.post-list-pagination-item-prev(href= $pageUrl(true), data-pjax) 
                            i.fa.fa-angle-double-left 
                            |  Newer
                    span.post-list-pagination-item.post-list-pagination-item-current Page #{pagination.page} of #{pagination.pages}
                    if pagination.older
                        a.post-list-pagination-item.post-list-pagination-item-next(href= $pageUrl(false), data-pjax) 
                            | Older 
                            i.fa.fa-angle-double-right

            include footer