doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

        title= metaTitle

        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

        meta(name="description", content=metaDescription)

        meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content=meteTitle)
        meta(name="twitter:description", content=metaDescription)

        meta(property="og:type", content="article")
        meta(property="og:title", content=meteTitle)
        meta(property="og:description", content=metaDescription)

        //- {{> custom/meta this}}

        link(href="/assets/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/assets/apple-touch-icon-precomposed.png" rel="apple-touch-icon")

        link(href="//fonts.googleapis.com/", rel="dns-prefetch")
        link(href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400&subset=latin,latin-ext", rel="stylesheet")

        link(rel="stylesheet", href="/assets/css/3c236dc6.main.min.css")

        script(src="/assets/js/b14267da.head-scripts.min.js")

        //- Google webspider pagination hints
        if pagination
            if pagination.newer
                link(rel="prev", href=$pageUrl(true, true))
            if pagination.older
                link(rel="next", href=$pageUrl(false, true))

        //- {{ghost_head}}

    body(class=bodyClass)
        include drawer

        main#container.container(role="main")
            .surface
                .surface-container
                    .content(data-pjax-container)
                        block content

        //- {{ghost_foot}}
        script(type="text/javascript", src="//code.jquery.com/jquery-2.1.0.min.js")
        script(src="/assets/js/a8765325.foot-scripts.min.js")

        script(type="text/javascript")
            block bottomScript
                if custom.ga
                    | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    | ga('create', "#{custom.ga.ua}", "#{custom.ga.domain}");
                    | ga('send', 'pageview');
                if custom.disqus
                    var disqus_shortname = '#{custom.disqus.shortname}';
                    | (function () {
                    |   var s = document.createElement('script'); s.async = true;
                    |   s.type = 'text/javascript';
                    |   s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                    |   (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                    | }());
