extends layout

block content
    section.wrapper.wrapper-post
        .wrapper-container
            article.post(itemscope itemtype="http://schema.org/BlogPosting", role="article", class=postClass)
                //- ### Post header banner ###
                include banners/post-header

                section.post-container

                    //- ### Post header ###
                    header.post-header
                        ul.post-meta-list

                            //- ### Post publication date ###
                            li.post-meta-item
                                | Published 
                                time(datetime=$date(post), itemprop="datePublished")= $date(post, 'timeago')

                            //- ### Post comments ###
                            li.post-meta-item: a(href="#disqus_thread") #{post.commentsCount} Comments

                        //- ### Post title ###
                        h1.post-title(itemprop="name headline")
                            a(href=$url(post), itemprop="url", data-pjax, title=post.title)= post.title

                    //- ### Post body ###
                    .post-body(itemprop="articleBody")!= post.content

                    //- ### Post labels / tags ###
                    if post.labels && post.labels.length
                        ul.post-item-meta-list
                            li.post-item-meta-item
                                i.fa.fa-tags
                                |  Labels: 
                                each label, idx in post.labels
                                    span(itemprop='keywords'): a(href=$labelUrl(label), data-pjax)
                                        strong #{label}
                                    | #{(idx === post.labels.length - 1) ? null : ', '}

                    include banners/post-footer
                    //- ### Post footer ###
                    footer.post-footer
                        .post-author(itemprop="author", itemscope, itemtype="http://schema.org/Person")
                            
                            if author.image
                                a.post-author-avatar(href=author.website): img(itemprop="image", src=author.image, alt=author.name)
                            
                            .post-author-info
                                h4.post-footer-heading Written by
                                a.post-author-name(href=author.website): span(itemprop="name")= author.name
                                p.post-author-bio(itemprop="description")= author.bio

                                if author.location
                                    p.post-author-location= author.location
                                if author.website
                                    p.post-author-website: a(href=author.website, rel="nofollow", itemprop="url")= author.website
                                p.post-info
                                    b.post-info-title Published on
                                    time.post-date= $date(post, 'MMMM DD, YYYY')

                        .post-social
                            h4.post-footer-heading Spread the word
                            a(href="#", data-action="share-twitter"): i.fa.fa-fw.fa-lg.fa-twitter
                            a(href="#", data-action="share-facebook"): i.fa.fa-fw.fa-lg.fa-facebook
                            a(href="#", data-action="share-gplus"): i.fa.fa-fw.fa-lg.fa-google-plus

                section#comment-form.post-comments(itemprop="comment")
                    #disqus_thread

            include footer

block prepend bottomScript
    if custom.disqus_shortname
        | if(typeof DISQUS !== 'object') {
        |   (function () {
        |   var s = document.createElement('script'); s.async = true;
        |   s.type = 'text/javascript';
        |   s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        |   (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        |   }());
        | }
